<fieldset>
    <legend><h3>Events</h3></legend>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>Event Name</td>
            <td>Event Start</td>
            <td>Event End</td>
            <td>Status</td>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let event of events">
            <td><a [routerLink]="[ 'EventDetail', { eventName: event.eventName, userType: userType } ]">{{event.eventName}}</a></td>
            <td>{{event.eventStart}}</td>
            <td>{{event.eventEnd}}</td>
            <td>{{event.eventStatus}}</td>
        </tr>

        </tbody>
    </table>
</fieldset>