<fieldset>
    <legend>
        <h3>{{eventName}}</h3>
    </legend>
    <label>Event Description</label>
    <div class="row">
        <p>{{eventDescription}}</p>
    </div>

    <label>Event Requirements</label>
    <div class="row">
        <p>{{eventRequirements}}</p>
    </div>


    <div style="margin-top: 40px;">

        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <label for="artworkTitle" class="control-label">Artwork Title:</label>
                    <input id="artworkTitle" type="text" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row" style="position: relative;">
                <div class="col-sm-4">
                    <label for="filePath" class="control-label">File Path:</label>
                    <input id="filePath" class="form-control" type="text"/>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-default" style="margin-top: 25px;">Browse</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <button id="submissionBtn" class="btn btn-primary">{{hasSubmittedEntry ? "Resubmit" : "Submit"}}
                    </button>
                </div>
            </div>
        </div>

        <div *ngIf="hasSubmittedEntry" class="panel panel-default" style="margin-top: 50px;">
            <div class="panel-heading">
                <h3>Current Submission</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-6">
                    <div class="form-group">

                        <div class="row">
                            <label class="control-label" for="CurrentArtworkTitle">Artwork Title:</label>
                            <label id="CurrentArtworkTitle" class="form-control">{{currentArtworkTitle}}</label>
                        </div>

                    </div>
                    <div class="form-group">

                        <div class="row">
                            <label class="control-label" for="CurrentFileName">File Name:</label>
                            <label id="CurrentFileName" class="form-control">{{currentFileName}}</label>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="row">
                            <div class="col-sm-2">
                                <button id="DownloadCurrentSubmission" class="btn btn-default">Download</button>
                            </div>
                            <div class="col-sm-2">
                                <button id="WithdrawCurrentSubmission" class="btn btn-danger">Withdraw</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6">

                </div>

                <!--Title: -->
                <!--File: -->
                <!--Download Button-->
                <!--Withdraw Button-->
                <!--Submission Image Preview-->
            </div>
        </div>
    </div>
</fieldset>
