<fieldset *ngIf='event'>
    <div style="display: block;">
        <legend>
            <h3>{{event.eventName}}</h3><!---->
        </legend>
        <div class="col-sm-8">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row">
                        <label class="control-label" for="EventDescription">Event Description</label>
                        <p id="EventDescription">{{event.eventDescription}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label" for="EventRequirements">Event Requirements</label>
                        <ul id="EventRequirements">
                            <li *ngFor="let req of event.eventRequirements">{{req}}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <entry-form *ngIf="userType == 'Patron'" [event]="event"></entry-form>
            <judge *ngIf="userType == 'Judge'"></judge>
            <librarian *ngIf="userType == 'Librarian'"></librarian>

        </div>
    </div>
</fieldset>
