.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    margin-top: 25px !important;
}

#fileName {
    border-radius: 4px 0 0 4px;
}

.currentSubmission {
    display: block;
    clear: both;
    margin-top: 50px !important;
}

.submissionDetails {
    margin-top: 40px !important;
}

.modal-scroll {
    overflow-y: scroll;
    max-height:85%;
    margin-top: 50px;
    margin-bottom:50px;
}

.ng-valid {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
    border-left: 5px solid #a94442; /* red */
}